body {
    margin: 0;
}

/* Nav bar */
nav {
    padding: 18px 50px;
    background-color: #2c2c4f;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

button {
    font-size: 14px;
    color: black;
    padding: 9px 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #e8613a;
    color: white;
}

h1, h2, p {
    font-family:'Courier New', Courier, monospace;
}

/* Home page */
#home-page {
    text-align: center;
}

/* Menu page */
/* Bit revision of display grid :) */
#menu-page {
    text-align: center;
    display: grid;
    grid-template: auto 1fr / 1fr 1fr 1fr;
}

#menu-page h1{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

#menu-page #beef-section {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#menu-page #chicken-section {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
#menu-page #duck-section {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}


/* About page */
#about-page {
    text-align: center;
}

#about-page > h2 > a {
    background-color: #F2F2F2;
    padding: 8px 12px;
    border-radius: 10px;
}
